html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #EDDCD2;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Abril Fatface', cursive, sans-serif;
  margin: 0;
  font-size: 30px;
  color: #CB997E;
}

nav {
  background-color: #DDBEA9;
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

h1 {
  font-size: 3.6rem;
}


input[type='color']:focus, 
input[type='date']:focus, 
input[type='datetime']:focus, 
input[type='datetime-local']:focus, 
input[type='email']:focus, 
input[type='month']:focus, 
input[type='number']:focus, 
input[type='password']:focus, 
input[type='search']:focus, 
input[type='tel']:focus, 
input[type='text']:focus, 
input[type='url']:focus, 
input[type='week']:focus, 
input:not([type]):focus, 
textarea:focus, 
select:focus {
  border-color: #B7B7A4;
  background-color: white;
}

input[type='color'], 
input[type='date'], 
input[type='datetime'], 
input[type='datetime-local'], 
input[type='email'], 
input[type='month'], 
input[type='number'], 
input[type='password'], 
input[type='search'], 
input[type='tel'], 
input[type='text'], 
input[type='url'], 
input[type='week'], 
input:not([type]), 
textarea, select {
border-color: #A5A58D;
}

/* .button.button-outline,
button.button-outline,
input[type="button"].button-outline,
input[type="reset"].button-outline,
input[type="submit"].button-outline {
  color: #FFF1E6;
  border-color: #A5A58D;
} */

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  color:#FFF1E6;
  background-color: #A5A58D;
  border: none;
  text-transform: capitalize;
  font-size: 15px;
}




a{
  color: #B7B7A4;
}

a :hover{
  background-color: #CB997E;
}

.nav-elements button{ 
  margin: 15px;
}

.nav-buttons{
  width: 100%; 
  font-family: 'Abril Fatface', cursive, sans-serif !important;
}

.nav-buttons button{
  margin: 15px; 
}

ul li{
  list-style-type: none;
}

.adding-button:hover{
  background-color: #CB997E;
}

.hover-color:hover{
  color: #A5A58D;
}

#image{
  height:50.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

#add-review{
  display: flex;
  justify-content: center;
}

#action-buttons{
  display: flex;
  justify-content: space-around;
}

.review{
  border: 2px #CB997E solid;
  border-radius: 5px;
  padding: 0 10px;
  background-color: rgb(230, 203, 167);
}

input{
  color: brown;
}
