<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>

    <!-- <h1><%= title %></h1>
    <a href="/reviews/new">New Review</a> -->

<h1>Reviews</h1>
<% if (user) { %>
    <h2>Add a review!</h2>
<form action="/reviews" method="POST">
<label>
    Review:
    <input type="text" name="review" autocomplete="off">
</label>

</form>
<% } %>

</section>
<%- include('../partials/footer') %>